<div class="wrapper">

  <wizard-navbar *ngIf="_showNavbar" [steps]="_steps"></wizard-navbar>

  <article class="main">
    <ng-content></ng-content>
  </article>

  <wizard-navigation
        [isBackButtonEnabled]="hasPrevStep"
        [isNextButtonEnabled]="hasNextStep"
        [showMiniNavigation]="_showMiniNavigation"
        [canMoveNext]="_currentStep._canMoveNext" 
        (onNext)="nextStep($event)"
        (onBack)="backStep($event)"
        (onRefresh)="refreshWizard($event)">
  </wizard-navigation>

</div>