<wizard (onNextStep)="onNextStep($event)" (onBackStep)="onBackStep($event)" (onComplete)="onComplete($event)">
    <wizard-step title="Initial" description="Enter transfer information" icon="wpforms">
        <p>Enter transfer information</p>
    </wizard-step>
    <wizard-step title="Confirm" description="Verify transfer information" icon="payment">
        <p>Verify transfer information</p>
    </wizard-step>
    <wizard-step title="Second Auth" description="Second Auth" icon="key" [canMoveNext]="canMoveNextCondition" (onNext)="onNextSecondAuth($event)">
        <p>Second Auth step</p>
    </wizard-step>
    <wizard-step title="Result" description="Execute transfer" icon="info" (onBack)="onBackExecute()">
        <p>Execute transfer</p>
    </wizard-step>
</wizard>